<form (ngSubmit)="createArticle()" #resetForm="ngForm">
  <div class="form-group">
    <label for="title">TITLE</label>
    <input type="text" class="form-control"  id="title"
      [(ngModel)]="articleData.title"
      name="title"
      required 
      minlength="4" 
      maxlength="20"
      #title="ngModel"
      required>
    <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
        <div [hidden]="!title.errors.required">
          Title is required
        </div>
        <div [hidden]="!title.errors.minlength">
          Title must be at least 4 characters long.
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">CATEGORY</label>
    <input type="text" class="form-control"  id="category"
      [(ngModel)]="articleData.category"
      name="category"
      required 
      minlength="3" 
      maxlength="20"
      #category="ngModel"
      required>
    <div *ngIf="category.errors && (category.dirty || category.touched)" class="alert alert-danger">
        <div [hidden]="!category.errors.required">
          Category is required
        </div>
        <div [hidden]="!category.errors.minlength">
          Category must be at least 3 characters long.
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="image">IMAGE URL <span class="text-muted"><a href="https://images.google.com/" target="_blank">google</a> | red car: http://worldartsme.com/images/red-car-free-clipart-1.jpg</span></label>
    <input type="text" class="form-control"  id="image"
    [(ngModel)]="articleData.image" 
    name="image"
    >
  </div>
  <div class="form-group">
    <label for="content">CONTENT</label>
    <textarea class="form-control"  rows="7" id="content" 
    [(ngModel)]="articleData.content" 
    minlength="10" 
    maxlength="20000"
    #content="ngModel"
    name="content"></textarea>
    <div *ngIf="content.errors && (content.dirty || content.touched)" class="alert alert-danger">
        <div [hidden]="!content.errors.required">
          Title is required
        </div>
        <div [hidden]="!content.errors.minlength">
          Title must be at least 10 characters long.
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!resetForm.form.valid">POST</button>
  <button (click)="reset(resetForm)" type="submit" class="btn btn-warning">CLEAR</button>
</form>



