<!--<h1>{{pageTitle}}</h1>-->
<!--<div class="col-md-12 container">-->
  <!--<div *ngFor="let article of (articles | filterTitle: pattern | sort: [sort, order] )" class="list-group-item">-->
    <!--<article-short [article]="article"></article-short>-->
    <!--<button class="btn-danger" *ngIf="article.creator == currentUser" (click)="deleteCurrentArticle(article._id)">Delete Article</button>-->
  <!--</div>-->
<!--</div>-->



<h1><i>{{pageTitle}}</i></h1>
<div class="col-md-12 container">
<div *ngFor="let article of (articles | filterTitle: pattern | sort: [sort, order] )">
<article-short [article]="article"></article-short>
<button class="btn-danger" *ngIf="article.creator == currentUser" (click)="deleteCurrentArticle(article._id)">Delete Article</button>
</div>
</div>
